body {
  background-color: #000;
  font-family: var(--font-dm-sans);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 12px;
  width: 300px;
}

.sidebar__navigation {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  padding: 1rem 0 0 1rem;
}

.logo {
  background: var(--secondary-color);
  display: flex;
  border-radius: 0.5rem;
  padding: 1rem 0 0 1rem;
}

.sidebar__navigation .logo img {
  width: 80px;
}

.sidebar nav ul {
  margin-top: 1.25rem;
  padding: 0 1.25rem 0.85rem 1.25rem;
}

.sidebar ul li {
  padding: 0.55rem 0;
}

.sidebar nav ul li a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
}

.library {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0.25rem 0.5rem;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 0.9rem;
  margin-top: 0.625rem;
}

.library .library__content {
  display: flex;
  justify-content: space-between;
}

.library .library__button {
  display: flex;
  margin-right: 0.625rem;
  color: var(--primary-color);
  background-color: transparent;
  border: 0px;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  padding: 1.25rem 0.625rem;
}

.library .library__button .fa {
  font-size: 1.125rem;
  font-weight: 300;
  color: var(--primary-color);
  margin-right: 0.625rem;
  padding-right: 0.5rem;
}

.library .library__content .fa-plus {
  margin: 1.5rem 0.625rem;
}

.section-playlist {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.125rem;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0.8rem 1.5rem;
  border-radius: 0.625rem;
}

.section-playlist .section-playlist__content {
  display: flex;
  flex-direction: column;
}

.section-playlist__content .text {
  padding-bottom: 0.8rem;
  color: #fff;
}

.section-playlist__content .title {
  font-weight: 700;
  font-size: 1rem;
}

.section-playlist__content .subtitle {
    font-weight: 100;
    font-size: 0.85rem;
}

.section-playlist__content .section-playlist__button {
  display: flex;
  justify-content: center;
  background-color: #FFF;
  border-radius: 1.125rem;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  padding: 0.625rem;
  color: #000;
  margin-top: 0.75rem;
  width: 8.05rem;
}

.sidebar .cookies{
    margin: 1.1rem 1.125rem;
}

.sidebar .cookies a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 0.75rem;
}

.sidebar .cookies a:hover{
    text-decoration: underline;
}

.languages .languages__button {
    align-items: center;
    background-color: transparent;
    border: 1px solid #878787;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    width: 10.625rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1.125rem;
}

.disclaimer-premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 1rem 2.5rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
.disclaimer-premium .text {
   flex-shrink: 0;
}
.disclaimer-premium .disclaimer-premium__title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.disclaimer-premium .disclaimer-premium__subtitle {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.disclaimer-premium button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
}